@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background-color: black;
}


.custom-hover-shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  transition: box-shadow 0.3s ease;
}

.custom-hover-shadow:hover {
  box-shadow: 0 0 20px rgb(110, 110, 255);
}